@model IEnumerable<Evaluacion_THA.Models.trabajador>
@{
    ViewBag.Title = "listar";
    Layout = "~/Views/Shared/_Interna.cshtml";
}

<br />
@if (TempData["mensaje"] != null)
{
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
        <div>
            <b>@TempData["mensaje"]</b>
        </div>
    </div>
}

<br />
<div class="card">
    
    <div class="card-header">
        <h4 class="text-center">Trabajadores</h4>
    </div>
    <div class="card-body">

        <br />
        <br />
        <a href="@Url.Action("crear","Trabajador")" class="btn btn-primary btn-sm">Nueva</a>
        <br />
        <br />
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model)
                {
                    <tr>
                        <th scope="row">@t.id</th>
                        <td>@t.nombre</td>
                        <td>@t.apellido</td>
                        <td>@t.correo</td>
                        <td>
                            <a href="@Url.Action("eliminar","Trabajador", new { id=t.id})" class="btn btn-danger btn-sm">Eliminar</a>

                            <a href="@Url.Action("editar","Trabajador", new { id=t.id})" class="btn btn-outline-dark btn-sm">Editar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>